<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible">
        <title>Leonard Lorenz</title>
        <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
        <link rel="stylesheet" type="text/css" href="/css/cv.css">
    </head>
    <body>
        <header>
            dev@leonardlorenz.de
            <br>
            https://leonardlorenz.de
        </header>
        <section id="summary">
            <h1>An introduction to Leonard Lorenz:</h1>
            A hard-working motivated ever-learning software engineer and Linux administrator from the beautiful city of Berlin. Currently I work and study at the Beuth University for applied science. I take pride in the things I create since I have high standards in terms of software and code quality. Coworkers and students remember me as an engaging, helpful team member that can take the lead if needed.
        </section>

        <section id="skills">
            <h1>Skills</h1>
            <div class="inner-container">
                <div id="linux" class="box">
                    <h2 class="box-headline">Linux</h2>
                    <ul>
                        <li>Several scripting languages</li>
                        <li>Coreutils</li>
                        <li>Nginx</li>
                        <li>SystemD / Runit</li>
                        <li>X11/wayland</li>
                        <li>Device Management</li>
                        <li>Active Directory</li>
                        <li>PAM</li>
                    </ul>
                </div>

                <div id="languages" class="box">
                    <h2 class="box-headline">Programming Languages</h2>
                    <table id="lang-table">
                        <tr>
                            <th>Language</th>
                            <th>Experience</th>
                        </tr>
                        <tr>
                            <td>Python</td>
                            <td>3 years</td>
                        </tr>
                        <tr>
                            <td>Bash</td>
                            <td>3 years</td>
                        </tr>
                        <tr>
                            <td>Node.JS</td>
                            <td>2 years</td>
                        </tr>
                        <tr>
                            <td>JavaScript</td>
                            <td>2 years</td>
                        </tr>
                        <tr>
                            <td>C++</td>
                            <td>2 years</td>
                        </tr>
                        <tr>
                            <td>Rust</td>
                            <td>1 year</td>
                        </tr>
                        <tr>
                            <td>C</td>
                            <td>1 year</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="inner-container">
                <div id="dev-ops" class="box">
                    <h2 class="box-headline">Dev-Ops</h2>
                    <ul>
                        <li>Docker</li>
                        <li>Kubernetes</li>
                        <li>Minikube</li>
                        <li>GitLab CI</li>
                        <li>Make and CMake</li>
                    </ul>
                </div>

                <div id="tools" class="box">
                    <h2 class="box-headline">Tools</h2>
                    <ul>
                        <li>uWSGI</li>
                        <li>mapbox, d3, crossfilter</li>
                        <li>django, flask</li>
                        <li>bootstrap, skeleton, ...</li>
                        <li>MongoDB</li>
                        <li>OracleSQL</li>
                        <li>SSH</li>
                        <li>Vim</li>
                        <li>Blender</li>
                        <li>Gimp</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="experience">
            <h1>Experience in professional environments</h1>
            <table>
                <tr>
                    <td>Beuth laboratory for computing and information systems</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>Freelance Web Development for GPPi</td>
                    <td>2 months</td>
                </tr>
            </table>
        </section>

        <section id="opensource">
            <h1>Open Source</h1>
            <p>I've contributed to a several open source projects. Below is a list of things I am especially excited about.</p>
            <ul>
                <li>Kubeportal, a platform that allows for easy Kubernetes cluster access management providing LDAP and OAuth2 login</li>
                <li>The VoidLinux documentation and package registry</li>
                <li>Lots of self-crafted toolery such as</li>
                <ul>
                    <li>Raspberry Pi digital signage</li>
                    <li>Soundwave generator</li>
                    <li>Sudoku solver</li>
                    <li>File hexadecimal dumper</li>
                    <li>Image rotator / flipper</li>
                    <li>Several chat bots</li>
                </ul>
            </ul>
            </p>
        </section>

        <section id="education">
            <h1>Education</h1>
            <ul>
                <li>2017-2020 - Beuth University Berlin (B.o.S. Computer Science)</li>
                <li>2015-2017 - Eduard Maurer High School Hennigsdorf</li>
            </ul>
        </section>

        <section id="achievements">
		<h1> Notable Achievements </h1>
		<h2> Climathon Hackathon Winner </h2>
		    <p>Our team and me won the 2019 Climathon hackathon in Berlin with our bike path rating web application. Using multiple APIs we were able to scrape enough metadata to rate every single bike path in Berlin. The berliner Tagesspiegel (widely read newspaper) even invited us to pitch our idea to several investors. You can visit our project <a href=https://leonardlorenz.de/climathon.html>here</a>. Should you be interested you can also view the source code at <a href=https://github.com/leonardlorenz/climathon-2019/>here</a>
                    </p>
        </section>


        <section id="interests">
            <h1>Interests</h1>
            <ul>
                <li>Exploring programming paradigms</li>
                <li>Bouldering</li>
                <li>Riding and working on bicycles</li>
            </ul>
        </section>
    </body>
</html>
