<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta http-equiv="Cache-Control" content="public, max-age=31536000"/>
		<meta name="keywords" content="developer programmer automater">
		<meta name="description" content="Leonard Lorenz">
		<meta name="robots" content="index,follow">

		<title> Leonard Lorenz </title>

		<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
		<link href='/css/index.css' type="text/css" rel="stylesheet"/>
	</head>

	<body>
		<div class="pimg1">
			<div class="ptext">
				Welcome, I'm Leo. Let me show you around.
			</div>
		</div>


		<div class="section-container section-blue">
			<section>
				<h2>Who I am and what I do.</h2>
				<p>
				I'm a 21 year old computer science student from Berlin, Germany.
				I love challenging myself to achieve whatever goal I set myself. No half-butted things.
				</p>
				<p>
				Living out my passion for programming and automation in an enterprise environment is a goal I set for myself.
				I will never stop learning and working on improving myself even after I reached that goal.
				Progression is key. Stopping not an option.
				</p>
				<p>
				E-Mail: <a href="mailto:contact@leonardlorenz.de"> contact@leonardlorenz.de </a>
				</p>
			</section>
		</div>

		<div id="button-container"> <!-- channelbuttons beginning -->
			<a id="github" class='socialbuttons' href='https://github.com/leonardlorenz' target='_blank'> GitHub </a>

			<a id="linkedin" class='socialbuttons' href='https://www.linkedin.com/in/leonard-lorenz' target='_blank'> LinkedIn </a>

			<a id="youtube" class='socialbuttons' href='https://www.youtube.com/channel/UCMQ8kQeoBPenHYkzCV8sD3A' target='_blank'> YouTube </a>

			<a id="soundcloud" class='socialbuttons' href='https://soundcloud.com/polychromatism' target='_blank'> SoundCloud </a>

			<a id="twitch" class='socialbuttons' href='https://www.twitch.tv/polychromatism' target='_blank'> Twitch </a>
		</div>

		<div class="pimg3"></div>

		<div class="section-container section-blue">
			<section>
				<h2>Other things I do.</h2>
				<p>
				In my freetime I contribute to a lot of open-source and UNIX communities.
				Helping others gain knowledge about programming or operating systems is a big passion of mine.
				<br>
				In summer season I spend a lot of time with bikes.
				Ever since I was a little kid I spent tons of time on my bike and my passion for them is only growing.
				It helps balancing work and life a lot.
				<br>
				Music is a big part of my life. I surround myself with it through the whole day.
				Sound design, arrangement, mixing and mastering are only tools to find the beauty in distortion and texture.
				</p>
				<p>
				Below you can find the projects I've been working on.
				</p>
			</section>
		</div>

		<div class="pimg1">
			<div class="ptext">
				thank you.
			</div>
		</div>

	</body>
</html>
